{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Guess the Tune!">
        <meta property="og:image" content="{% static 'game/favicon.png' %}">

        <link rel="icon" type="image/png" href="{% static 'game/favicon.png' %}">
        
        <title>{% block title %}Guess the Tune!{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'game/style.css' %}"
        />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="{% static 'game/favicon.png' %}" width="30" height="30" alt="logo">
                Guess the Tune!
            </a>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>