.jumbotron {
    text-align: center;
}

.vex-canvas {
    margin-left: auto;
    margin-right: auto;
}

.pixelated {
    image-rendering: pixelated;
}

hr {
    width: 50px;
    border: 2px solid;
}

@media screen and (max-width: 770px) {
    .vex-canvas svg {
        width: 100% !important;
    }
}