{% extends "base.html" %}

{% block title %}Guess the Tune! {{ curr_tune }}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="https://unpkg.com/vextab@3.0.6/dist/div.prod.js"></script>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ curr_tune }}</h1>
            <hr>
            <div class="vextab-auto" width="680" scale="1.0">
                {{ curr_tune.vextab }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Guess!</h1>
                
                {% if user in curr_tune.successful_guessers.all %}
                    <p>Congratulations! You've correctly guessed the tune.</p>
                    <p>This tune came from: <a href="{{ curr_tune.link }}"><b>{{ curr_tune.answer }}</b></a>.</p>
                {% elif user.is_authenticated %}
                    <form action="{% url 'specific' curr_tune %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success" value="Submit">
                    </form>
                {% else %}
                    <p>You must be logged in to guess.</p>
                {% endif %}
            </div>

            <div class="col-lg">
                <h1>Successful Guessers</h1>
                <ul>
                    {% for user in curr_tune.successful_guessers.all %}
                        <li><span>{{ user }}</span></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg order-lg-first">
                <h1>Archive</h1>
                <ul>
                    {% for tune in all_tunes %}
                        <li><a href="{% url 'specific' tune %}">{{ tune }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
